body {
font-family: Arial, sans-serif;
background-color: #1b1b1b;
color: #e3e3e3;
margin: 0;
}


header {
background-color: #111;
padding: 20px;
text-align: center;
}


nav ul {
list-style: none;
padding: 0;
}


nav ul li {
display: inline-block;
margin: 10px;
}


nav ul li a {
color: #e3e3e3;
text-decoration: none;
font-weight: bold;
}


.hero img {
width: 100%;
max-height: 350px;
object-fit: cover;
}


h1, h2 {
color: #f7c63d;
}


table {
width: 100%;
border-collapse: collapse;
}


td, th {
border: 1px solid #333;
padding: 10px;
}
